<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="manifest" href="manifest.json">

    <title>Audio Recorder</title>
</head>
<body>
    <div class="container">
        <div class="display"></div>
        <div class="controllers"></div>
    </div>
    <a href="/page">PAGE</a>
</body>
<script src="javascripts/push-notifications.js"></script>
<script src="javascripts/recorder.js"></script>
<script src="javascripts/sw_setup.js"></script>

</html>